#criar-tarefa {
  height: 30px;
  width: 150px;
}
#apaga-tudo {
  height: 30px;
  width: 150px;
}

.highlight {
  background-color:rgb(128, 128, 128);
}
.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}